{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="{% static 'css/pictures.css' %}">
      <title>Blush!</title>
    </head>
      <div class = logo>
        <a href="http://localhost:8000/"> <img src="http://localhost:8000/upload_files/upload_files/logo/17/10/30/%EB%A1%9C%EA%B3%A0_.png" style="width : 120px;" /> </a>
      </div>
      <div class = first>
        <h4> <a href = "http://localhost:8000/" class = top>예약</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href = "http://localhost:8000/" class = top>회원가입</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href = "http://localhost:8000/" class = top>로그인</a>
      </div>
      <div class = right>
        <a href="http://localhost:8000/"><img src="http://localhost:8000/upload_files/upload_files/logo/17/10/24/%EC%84%A4%EC%A0%95.png" style ="width: 30px"></a>
      </div>
      <div class = menu>
        <h3>
          <a href = "http://localhost:8000/" class = menu><strong>Blush!</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://localhost:8000/" class = menu><strong>Blush! 사진관</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href = "http://localhost:8000/" class = menu><strong>이벤트</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href = "http://localhost:8000/" class = menu><strong>고객문의</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href = "http://localhost:8000/" class = menu><strong>사진가</strong></a>
        </h3>
      </div>
      <hr />
      <pic class = a>
        <a href = "http://localhost:8000/" class = a> <img src="http://localhost:8000/upload_files/upload_files/logo/17/10/30/facebook.png" style = "width : 32px"> <a/>
        <a href = "http://localhost:8000/" class = a> <img src="http://localhost:8000/upload_files/upload_files/logo/17/10/30/instagram.png" style = "width : 26px"> <a/>
        <a href = "http://localhost:8000/" class = a> <img src="http://localhost:8000/upload_files/upload_files/logo/17/10/30/youtube.png" style = "width : 32px"> <a/>
        <a href = "http://localhost:8000/" class = a> <img src="http://localhost:8000/upload_files/upload_files/logo/17/10/30/phone.png" style = "width : 30px"> <a/>
      </pic>
    <body>
      <main>
        <img src = "http://localhost:8000/upload_files/upload_files/main/17/10/30/%EC%83%89%EA%B9%94_%EB%B3%80%ED%98%95%EB%90%9C_%EB%A9%94%EC%9D%B8_%EC%82%AC%EC%A7%84_1.png" style = "width : 1150px; height : 420px">
      </main>
      <box class = background>
        <img src = "http://localhost:8000/upload_files/upload_files/main/17/10/30/%EB%A6%AC%EB%AA%A8%EC%BB%A8.png" style = "width : 300px">
      </box>
      <search>
        <a href = "http://localhost:8000/" class = b> <img src= "http://localhost:8000/upload_files/upload_files/main/17/10/30/search.png" style = "width : 260px"> </a>
      </search>
      <select class = "with">
        <option value = "개인사진", selected="selected">개인사진</option>
        <option value = "커플사진">커플사진</option>
        <option value = "가족사진">가족사진</option>
        <option value = "단체사진">단체사진</option>
      </select>
      <select class = "what">
        <option value = "스냅사진", selected="selected">스냅사진</option>
        <option value = "스튜디오사진">스튜디오사진</option>
        <option value = "코스프레">코스프레</option>
        <option value = "기타">기타</option>
      </select>
      <select class = "where">
        <option value = "서울", selected="selected">서울</option>
        <option value = "경기">경기</option>
        <option value = "부산">부산</option>
        <option value = "제주">제주</option>
      </select>
    </body>
</html>
